<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Cliente</title>
    <link rel="stylesheet" href="/css/consultarPerfil.css">
    <script src="/js/consultarPerfil.js"></script>
</head>
<body>
<button class="volver-btn" onclick="window.location.href = '/catalogo';">Volver</button>
<div class="container">
    <h1>Datos del Cliente</h1>
    <div class="cliente-datos" id="datos-usuario">
        <p><strong>Nombre:</strong> <span id="nombre"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Cédula:</strong> <span id="cedula"></span></p>
        <p><strong>Contraseña:</strong> <span id="password"></span></p>
        <p><strong>Teléfono:</strong> <span id="phone"></span></p>
    </div>
</div>
</body>
</html>