<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar ventas</title>
    <link rel="stylesheet" href="consultarVenta.css">
    <
</head>
<body>
<main>
    <div class="contenedor">
        <div>
            <img src="">
        </div>
    </div>
    <div class="contenedor">
        <p> Consultar Ventas</p>
    </div>

    <form class="filtro">
        <input type="text" placeholder="Buscar cliente orden">
        <input type="text" placeholder="Numero de orden ">
        <input type="date">
        <button type="submit" > Filtrar </button>
    </form>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th> Cliente </th>
                <th> N Orden </th>
                <th> Fecha y hora </th>
                <th> Precio </th>
                <th> Estado </th>
            </tr>
            </thead>
        </table>
    </div>
</main>
</body>
</html>