<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar ventas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="consultarVenta.css">
</head>
<body>
<header>
    <div class="contenedor">
        <div>
            <img src="/view/imagen/Logo.png">
        </div>
    </div>
</header>
<main>
    <div class="contenedor">
        <H1> Consultar Ventas</H1>
        <img src="/view/imagen/Gradient.png">
    </div>

    <form class="filtro">
        <input type="text" placeholder="Buscar cliente orden">
        <input type="text" placeholder="Numero de orden ">
        <input type="date">
        <button type="submit" > Filtrar </button>
    </form>

    <section class="table">
        <table class = content-table>
            <thead>
            <tr>
                <th> Cliente </th>
                <th> N Orden </th>
                <th> Fecha y hora </th>
                <th> Precio </th>
                <th> Estado </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Romero</td>
                    <th>AA001</th>
                    <th>12/11/2020</th>
                    <th>12$</th>
                    <th>Pendiente</th>
                </tr>

            </tbody>
        </table>
    </section>
</main>
</body>
</html>